<h1>Log Hours</h1>
<form method="post">
    <div>
        <label for="client">Client</label>
        <input type="text" id="client" name="client">
    </div>
    <div>
        <label for="project">Project</label>
        <input type="text" name="project" id="project">
    </div>
    <div>
        <label for="hours">Hours</label>
        <input type="text" name="hours" id="hours">
    </div>
    <div>
        <label for="date">Date</label>
        <input type="date" name="date" id="date">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea type="text" name="description" id="description"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>